In [ ]:
# Imported libraries
import pandas as pd

# Numpy to build arrays
import numpy as np

# Source of datasets
from pydataset import data

# Set a value to initialize the random integer generation
np.random.seed(123)


# Create a list of students
students = ['Sally', 'Jane', 'Suzie', 'Billy', 'Ada', 'John', 'Thomas', 'Marie', 'Albert', 'Richard', 'Isaac', 'Alan']

# Randomly generate 12 scores for each subject (1 per student)
# Store values as arrays
# Note that all the values need to have the same length here

math_grades = np.random.randint(low=60, high=100, size=len(students))

english_grades = np.random.randint(low=60, high=100, size=len(students))

reading_grades = np.random.randint(low=60, high=100, size=len(students))

# Create a dictionary with structure:
# 'column_name': <array or list>

df_dict = {'name': students,
                   'math': math_grades,
                   'english': english_grades,
                   'reading': reading_grades}
# Use pd.DataFrame
df = pd.DataFrame(df_dict)

# View the type
type(df)

In [ ]:
#1
#A Create a column named passing_english that indicates whether each student has a passing grade in english.
df['passing_english'] = df.english >= 70

In [ ]:
df

In [ ]:
#Sort the english grades by the passing_english column. How are duplicates handled?
df.sort_values(by = 'passing_english')
#duplicate values are included
#first you get falses then it goes by index

In [ ]:
#Sort the english grades first by passing_english and then by student name. 
#All the students that are failing english should be first, and within the students that are failing 
#english they should be ordered alphabetically. The same should be true for the students passing english. 
#(Hint: you can pass a list to the .sort_values method)
english_grades = df['english'].to_list()
df.sort_values(by= 'passing_english')

In [ ]:
cols_to_sort = ['passing_english','name']

In [ ]:
df.sort_values(cols_to_sort)

In [ ]:
pd.Series.sort_values?

In [ ]:
#Sort the english grades first by passing_english, 
#and then by the actual english grade, similar to how we did in the last step.
df.sort_values('passing_english').sort_values('english')

In [ ]:
df.sort_values(by = ['passing_english','english'],ascending=False)

In [ ]:
#Calculate each students overall grade and add it as a column on the dataframe. 
#The overall grade is the average of the math, english, and reading grades.
df['Overall Grade'] = round((df.english + df.math + df.reading) /3,0).astype(int)

In [ ]:
df

## Load the mpg dataset. Read the documentation for the dataset and use it for the following questions:

In [ ]:
data('mpg', show_doc=True)

In [ ]:
data('mpg').info()

In [ ]:
#How many rows and columns are there?
data('mpg').shape

In [ ]:
#What are the data types of each column?
data('mpg').dtypes

In [ ]:
#Summarize the dataframe with .info and .describe
data('mpg').info()

In [ ]:
data('mpg').describe()

In [ ]:
data('mpg').describe().round(2)

In [ ]:
mpg=data('mpg')

In [ ]:
#Rename the cty column to city.
mpg = mpg.rename(columns={'cty':'city'})

In [ ]:
#mpg.rename(columns={'cty':'city'},inplace=True)

In [ ]:
#mpg.columns = ['col1','col2']

In [ ]:
#Rename the hwy column to highway.
mpg = mpg.rename(columns={'hwy':'highway'})
mpg

In [ ]:
#Do any cars have better city mileage than highway mileage?
(mpg.city > mpg.highway).any()
#no

In [ ]:
mask = mpg.city > mpg.highway

In [ ]:
len(mpg[mask])

In [ ]:
#Create a column named mileage_difference this column should contain the difference between highway and city mileage for each car.
mpg['milage_difference'] = mpg.highway - mpg.city
mpg

In [ ]:
mpg[['highway','city','milage_difference']]

In [ ]:
#Which car (or cars) has the highest mileage difference?
mpg.sort_values('milage_difference',ascending=False).head()

In [ ]:
mpg[mpg['milage_difference'] == mpg['milage_difference'].max()]

In [ ]:
mpg[mpg['milage_difference'] == mpg['milage_difference'].min()]

In [ ]:
compacts = mpg[mpg['class'] == 'compact']

In [ ]:
#Which compact class car has the lowest highway mileage? The best?
mpg[mpg['class'] == 'compact'].sort_values('highway').head(1)

In [ ]:
compacts[(compacts.highway == compacts.highway.max())]

In [ ]:
compacts[(compacts.highway == compacts.highway.min())]

In [ ]:
mpg[mpg['class'] == 'compact'].sort_values('highway').tail(1)

In [ ]:
#Create a column named average_mileage that is the mean of the city and highway mileage.
mpg['average_milage'] = (mpg.city + mpg.highway) /2
mpg

In [ ]:
mpg['class'].unique()

In [ ]:
car = ['compact', 'midsize', '2seater', 'subcompact']

In [ ]:
dodges = mpg[mpg.manufacturer == 'dodge']
dodges.model

In [ ]:
mpg[(mpg['class'].isin(car)) & (mpg['manufacturer'] == 'dodge')].shape

In [ ]:
#Which dodge car has the best average mileage? The worst?
mpg[mpg.manufacturer == 'dodge'].sort_values('average_milage',ascending=False).head(1)

In [ ]:
dodges[dodges.average_milage == dodges.average_milage.min()]

In [ ]:
mpg[mpg['manufacturer'] == 'dodge'].sort_values('average_milage').head(1)

In [ ]:
mpg[(mpg['class'].isin(car)) & (mpg['manufacturer'] == 'dodge')].shape

# there are no dodge cars in mpg

In [ ]:
def show_dimension(data):
    n_rows=data.shape[0]
    n_cols=data.shape[1]
    print(f'number of rows:{n_rows}\n\n number of columns:{n_cols}')

## Load the Mammals dataset. Read the documentation for it, and use the data to answer these questions:

In [ ]:
mammals = data('Mammals')

In [ ]:
#How many rows and columns are there?
data('Mammals').shape

In [ ]:
show_dimension(mammals)

In [ ]:
#What are the data types?
mammals.dtypes

In [ ]:
#Summarize the dataframe with .info and .describe
mammals.info()

In [ ]:
mammals.describe()

In [ ]:
#What is the the weight of the fastest animal?
mammals.sort_values('speed',ascending = False).head(1)

In [ ]:
mammals.weight[mammals.speed == mammals.speed.max()]

In [ ]:
#What is the overal percentage of specials?
specials_list = mammals.specials.to_list()

In [ ]:
mammals.specials.sum()

In [ ]:
round(specials_list.count(True)/len(specials_list)*100)

In [ ]:
mammals['specials'].value_counts(normalize=True)

In [ ]:
#How many animals are hoppers that are above the median speed? What percentage is this?
mammals['hoppers']

In [ ]:
mammals[mammals.hoppers]

In [ ]:
mammals[mammals.speed > mammals.speed.median()]

In [292]:
mammals[(mammals.hoppers==True) & (mammals.speed > mammals.speed.median())]

     weight  speed  hoppers  specials
96      4.6   64.0     True     False
97      4.4   72.0     True     False
98      4.0   72.0     True     False
99      3.5   56.0     True     False
100     2.0   64.0     True     False
101     1.9   56.0     True     False
102     1.5   50.0     True     False